<div class="footer col-12 text-center my-5">
    <p class="small">Made with <span class="red">&hearts;</span> by <a href="https://twitter.com/vladfr">Vlad Frățilă</a> in Bucharest.</p>
<a rel="me" href="https://twitter.com/fightwithcards" class="twitter-follow-button" data-show-count="false">Follow @fightwithcards</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p class="small grey">some images by Daniel Solis, Imogen Oh, Made by Made from <a href="https://thenounproject.com">the Noun Project</a></p>
</div>

</div>

<script src="/js/form.js"></script>

</body>

</html>
