<body>

<div class="container-fluid">
    <div class="row main">
        <div class="col-12">
            <nav class="navbar navbar-toggleable-sm navbar-light">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/images/new_icon.png" width="64" height="64" lass="d-inline-block align-top" alt="we fight with cards" />
                    <b>We fight with cards</b>
                </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/about">about</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/archives">past issues</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
