<body>

<nav class="navbar ">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="/">
            <img src="/images/new_icon.svg" alt="We fight with cards" width="75">
            we fight with cards
        </a>

        <div class="navbar-burger burger" data-target="navMenuExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navMenuExample" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="http://localhost:1313/posts/mtg-arena-intro/">
                <span>MTG Arena</span>
            </a>
            <a class="navbar-item" href="/posts">
                <span>All Articles</span>
            </a>
            <a class="navbar-item" href="/archives/latest">
                <i class="fa fa-custom"><img src="/images/arrow.svg" /></i>
                <span>Latest issue</span>
            </a>
        </div>
    </div>
</nav>
