<body>

<nav class="navbar ">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="http://w.io">
            <img src="/images/new_icon.svg" alt="We fight with cards" width="75">
            we fight with cards
        </a>

        <a class="navbar-item is-hidden-desktop" href="https://twitter.com/FightWithCards" target="_blank">
            <span class="icon" style="color: #55acee;">
                <i class="fa fa-twitter"></i>
            </span>
        </a>

        <div class="navbar-burger burger" data-target="navMenuExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navMenuExample" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="https://twitter.com/jgthms" target="_blank">
                Twitter
            </a>
            <a class="navbar-item" href="https://twitter.com/jgthms">
                Articles
            </a>
            <a class="navbar-item" href="latest">
                <i class="fa fa-custom"><img src="/images/arrow.svg" /></i>
                Latest issue
            </a>
        </div>
    </div>
</nav>
