body {
    font-family: 'Ubuntu', sans-serif;
    color: #1F1F1F;
}

.content, form, .email-box {
    background: rgba(250,250,250,0.9);
}

.navbar-nav {
    margin-left: 100px;
}

input.email {
    width: 70%!important;
    max-width: 500px;
    text-align:center;
}

.main .nav .nav-link {
    margin-right: 2em;
    line-height: 4em;
    color: slategrey;
}
.main .nav .nav-link:hover {
    color: #34C566;
}

.main .nav .nav-link.nav-icon {
    border-right: 1px solid #ccc;
    margin-right: 4em;
    padding: .5em 4em .5em 0;
}

nav .main-icon { width: 64px; height: 64px; }

.main {
    margin: 2.5%;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0;
    margin-top: 1em;
}
h4 {
    margin-top: 2em;
}
p.hero {
    font-weight: 100;
    font-size: 24px;
    line-height: 38px;
    color: #8E8E8E;
    margin-top: 38px;
    background: rgba(255,255,255,0.9);
}
p.hero strong {
    font-weight: 700;
}

.red {
    color: red;
}

.grey {
    color: #ccc
}

.email-box {
    border-top: 1px solid gray; border-bottom: 1px solid gray; padding: 10px 0; margin: 10px 0;
}
.email-box input.form-control {
    width: 70% !important;
    max-width: 500px;
    text-align: center;
}

@media (min-width: 768px) {
    .container-fluid {
        background: url('/images/bg.png') no-repeat bottom right;
        background-attachment: fixed;
    }
}

@media (max-width: 992px) {
    .img-responsive {
        height: 200px;
        overflow: hidden;
        position: relative;
    }
    .img-responsive img {
        position: absolute;
        top: 0;
    }
}

@media (max-width: 575px) {
    .container-fluid {
        background: url('/images/bg.png') no-repeat bottom right;
        background-attachment: fixed;
        background-size: cover;
        background-size: 80%;
    }

    h1 {
        font-size: 28px;
        margin: 0;
    }
    p.hero {
        font-size: 18px;
    }

    nav .nav-icon {
        border: 0!important;
        width: 100%;
        display: block;
    }
    nav .main-icon {
        width: 32px; height: 32px;
    }

    .main { margin: 0 }

    form {
        line-height: 2em;
    }
    form p.small {
        line-height: 1.2em;
    }
}


/* bootstrap overrides */
.alert {
    background: none;
}

.btn {
    cursor: pointer;
    border-radius: 0;
    margin: 0;
}

.form-inline input {
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.form-inline .btn {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

@media (min-width: 576px) and (max-width: 767px) {
    #header {
        background: url('/images/axe.png') no-repeat right 2em;
        padding-right: 100px;
    }
}

.join-note {
    position: fixed;
    top: 0;
    background: #2fae58;
    padding: 10px;
    margin: 0;
    left: 0;
    font-weight: bold;
    color: #fff;
    width: 100%;
    text-align: center;
    z-index: 1000;
}
.join-note .btn, .join-note .btn:hover, .join-note .btn:visited, .join-note .btn:active {
    background: #fff;
    font-weight: bold;
    border-radius: 6px;
    margin-left: 5px;
}

@media (max-width: 575px) {
    .join-note {
        padding: 2px 5px;
    }
    .join-note .btn {
        padding: 5px;
    }

    .heading {
        color: #fff;
        margin-top: -50px;
    }
    .bleed-mobile {
        padding: 0;
    }
}



.tether-element,.tether-element *,.tether-element :after,.tether-element :before,.tether-element:after,.tether-element:before{box-sizing:border-box}.tether-element{position:absolute;display:none}.tether-element.tether-open{display:block}
