{{ partial "header.html" . }}

{{ partial "title.html" . }}

<div class="row main">
    <div class="col-12 col-lg-8 col-md-8">

        <div class="form mt-2">
            <form action="//facebook.us9.list-manage.com/subscribe/post-json?u=a70281e2cd8892265f8028139&amp;id=909bf03ce6&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                <div class="ml-lg-5 mb-2"><strong>I'm interested in:</strong></div>

                <div class="form-group row ml-lg-5">
                    <div class="col-lg-5 col-md-8">
                        <div class="form-check">
                            <label for="mce-group[27193]-27193-0" class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="1" name="group[27193][1]" id="mce-group[27193]-27193-0">
                                Hearthstone
                            </label>
                        </div>
                        <div class="form-check">
                            <label for="mce-group[27193]-27193-1" class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="2" name="group[27193][2]" id="mce-group[27193]-27193-1">
                                Gwent
                            </label>
                        </div>
                        <div class="form-check">
                            <label for="mce-group[27193]-27193-4" class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="16" name="group[27193][16]" id="mce-group[27193]-27193-4">
                                Shadowverse
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-8">
                        <div class="form-check">
                            <label for="mce-group[27193]-27193-2" class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="4" name="group[27193][4]" id="mce-group[27193]-27193-2">
                                Elder Scrolls Legends
                            </label>
                        </div>
                        <div class="form-check">
                            <label for="mce-group[27193]-27193-3" class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="8" name="group[27193][8]" id="mce-group[27193]-27193-3">
                                Eternal
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group form-inline ml-lg-5">
                    <label class="mr-2" for="mce-EMAIL"></label>
                    <input type="email" value="" name="EMAIL" class="required email form-control col-sm-6" id="mce-EMAIL" placeholder="Your email address">
                        <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success">Subscribe</button>
                </div>

                <div class="form-group ml-lg-5">
                    <div id="mce-responses" class="mb-2">
                        <div class="alert alert-danger" role="alert" id="mce-error-response" style="display:none"></div>
                    </div>

                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a70281e2cd8892265f8028139_909bf03ce6" tabindex="-1" value=""></div>

                </div>
                <p class="small text-dim text-center">One email per week. No spam and it's easy to unsubscribe</p>
                <div class="alert alert-success" role="alert" id="mce-success-response" style="display: none">
                    <div class="media ml-3 mt-5">
                        <img class="d-flex mr-3 rounded-circle" width="75" height="75" src="/vlad.png">
                        <div class="media-body">
                            <h5 class="mt-0">You are awesome!</h5>
                            <p>Thanks for joining us! You'll receive an email shortly &mdash; please click the link inside to confirm. </p>
                            <p>You'll get the newsletter on Fridays. I'd love to get your feedback, so be sure to stay in touch: <a href="https://twitter.com/fightwithcards">@fightwithcards on Twitter</a></p>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div class="row content">
        <div class="col-12 col-md-8 ml-lg-5 mt-2">
            <h4>What kind of content will I get?</h4>
            <p>
                <a href="/archives/issue_1">Take a look at the first issue.</a>
            </p>
            <h4>I selected 2 games. What will I see?</h4>
            <p>
                If you select games, you'll receive more content about those games: strategy tips, decks, more videos etc.
            </p>
            <h4>I want free packs!</h4>
            <p>Me too, son, me too...</p>
        </div>
    </div>
</div>

<script type='text/javascript'>(function($) {
    var error = function(msg) {
        $('#mce-error-response').css('display', 'none').text('');
        if (msg) $('#mce-error-response').css('display', 'block').html(msg);

        state_reset();

        return false;
    };

    function isValidEmailAddress(emailAddress) {
        var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        return pattern.test(emailAddress);
    };

    function register($form) {
        $.ajax({
            method: $form.attr('method'),
            url: $form.attr('action'),
            data: $form.serialize(),
            cache       : false,
            dataType    : 'jsonp',
            jsonpCallback:      'c',
            contentType: "application/json; charset=utf-8",
        })
            .done(function(data) {
                if (data.result != "success") {
                    $('#mc-embedded-subscribe').attr('disabled', false);
                    error(data.msg);
                } else {
                    state_done();
                }
            })
            .fail(function(data) {
                error("Could not connect to the registration server. Please try again later.");
            });
    }

    var state_reset = function () {
        $('#mc-embedded-subscribe')
            .attr('disabled', false)
            .text('Subscribe');
    };
    var state_done = function () {
        $('#mc-embedded-subscribe')
            .attr('disabled', true)
            .addClass('btn-confirm')
            .text('Confirm');

        $('#mce-success-response').css('display', 'block');
        $.scrollTo($('#mce-success-response'), {duration: 350});

        ga('send', 'event', 'email', 'subscribe');
    };

    var state_sending = function() {
        $('#mc-embedded-subscribe')
            .attr('disabled', true)
            .text('Sending...');
    };

    $('#mc-embedded-subscribe-form').submit(function(e) {
        e.preventDefault();

        error();
        if (!isValidEmailAddress($('#mce-EMAIL').val())) {
            return error('Please enter a valid email address.');
        }

        state_sending();
        register($(this));
        return true;
    });
}(jQuery));
</script>

{{ partial "footer.html" . }}
