{{ partial "head.html" . }}

<!--<div class="join-note join-top"><a href="/fable-fortune">We have Fable Fortune beta keys to give</a>: <a href="/fable-fortune" class="btn btn-link" id="subscribe-btn">get yours!</a></div>-->

{{ partial "header.html" . }}


{{ $posts := first 10 (where .Data.Pages.ByPublishDate "Section" "posts") }}
    {{$0 := index $posts 0}}
{{ $0.Render "list-first" }}

<div class="tile is-ancestor">
    <div class="tile is-parent is-12">
    {{ range $i, $posts }}
        {{if not (eq $0 .) }}
            {{ .Render "list" }}
        {{ end }}
    {{ end }}
</div>
</div>


<div class="columns title-columns has-spacing-vertical">
    <div class="column">
    </div>
    <div class="column is-half is-fixed">
        <h3 class="title is-3 has-text-centered">
            Your weekly source of news, clips and banter about <span class="swoosh-text">card&nbsp;games</span>.
        </h3>
    </div>
    <div class="column">
    </div>
</div>

{{ range .Site.Sections.home.Pages }}
    {{ .Render "empty" }}
{{ end }}

{{ partial "footer.html" . }}
