<form action="//facebook.us9.list-manage.com/subscribe/post-json?u=a70281e2cd8892265f8028139&amp;id=909bf03ce6&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-subscribe" target="_blank" novalidate>

    <div class="field main-email has-addons">
        <p class="control has-icons-left">
            <input class="input required email" type="email" placeholder="Your email here *" name="EMAIL" id="mce-EMAIL">
            <span class="icon  is-left">
                <i class="fa fa-envelope"></i>
            </span>
        </p>
        <p class="control">
            <button type="submit" value="Subscribe" name="subscribe" class="button is-warning">JOIN!</button>
        </p>
    </div>

    {{ if .Get "gwent" }}
        <input style="display: none" type="checkbox" value="2" name="group[27193][2]" checked="checked">
    {{ end }}

    <div class="help" role="alert" id="mce-error-response" style="display:none"></div>

    <div role="alert" class="box media" id="mce-success-response" style="display:none">
        <div class="media-left">
            <img class="" width="75" height="75" src="/vlad.png">
        </div>
        <div class="media-content">
            <p>Thanks for joining us! You'll receive an email shortly &mdash; please click the link inside to confirm. </p>
            <p>You'll get the newsletter on Mondays. Until then, <a href="https://twitter.com/fightwithcards">stay in touch on Twitter!</a></p>
        </div>
    </div>

    <small class="small text-dim has-text-centered">* Receive emails every week, no spam, easy to unsubscribe.<br/>You can always change your selected games</small>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a70281e2cd8892265f8028139_909bf03ce6" tabindex="-1" value=""></div>
</form>
