<div class="form email-box mx-auto">
    <form action="//facebook.us9.list-manage.com/subscribe/post-json?u=a70281e2cd8892265f8028139&amp;id=909bf03ce6&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        <div class="form-group form-inline justify-content-center">
            <label class="mr-2" for="mce-EMAIL"></label>
            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Your email address">
            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success">Join us!</button>
        </div>

        <div class="form-group ml-lg-5">
            <div id="mce-responses" class="mb-2">
                <div class="alert alert-danger" role="alert" id="mce-error-response" style="display:none"></div>
            </div>

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a70281e2cd8892265f8028139_909bf03ce6" tabindex="-1" value=""></div>

        </div>
        <p class="small text-dim text-center">One email per week. No spam and it's easy to unsubscribe</p>
        <div class="alert alert-success" role="alert" id="mce-success-response" style="display: none">
            <div class="media ml-3 mt-5">
                <img class="d-flex mr-3 rounded-circle" width="75" height="75" src="/vlad.png">
                <div class="media-body">
                    <h5 class="mt-0">You are awesome!</h5>
                    <p>Thanks for joining us! You'll receive an email shortly &mdash; please click the link inside to confirm. </p>
                    <p>You'll get the newsletter on Saturdays. I'd love to get your feedback, so be sure to stay in touch: <a href="https://twitter.com/fightwithcards">@fightwithcards on Twitter</a></p>
                </div>
            </div>

        </div>


        {{ if .Get "gwent" }}
            <input style="display: none" type="checkbox" value="2" name="group[27193][2]" checked="checked">
        {{ end }}

        {{ if .Get "games" }}
        <div class="ml-lg-5 mb-2"><strong>I'm interested in:</strong></div>

        <div class="form-group row ml-lg-5">
            <div class="col-lg-5 col-md-8">
                <div class="form-check">
                    <label for="mce-group[27193]-27193-0" class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="1" name="group[27193][1]" id="mce-group[27193]-27193-0">
                        Hearthstone
                    </label>
                </div>
                <div class="form-check">
                    <label for="mce-group[27193]-27193-1" class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="2" name="group[27193][2]" id="mce-group[27193]-27193-1">
                        Gwent
                    </label>
                </div>
                <div class="form-check">
                    <label for="mce-group[27193]-27193-4" class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="16" name="group[27193][16]" id="mce-group[27193]-27193-4">
                        Shadowverse
                    </label>
                </div>
            </div>
            <div class="col-lg-5 col-md-8">
                <div class="form-check">
                    <label for="mce-group[27193]-27193-2" class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="4" name="group[27193][4]" id="mce-group[27193]-27193-2">
                        Elder Scrolls Legends
                    </label>
                </div>
                <div class="form-check">
                    <label for="mce-group[27193]-27193-3" class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="8" name="group[27193][8]" id="mce-group[27193]-27193-3">
                        Eternal
                    </label>
                </div>
            </div>
        </div>
        {{ end }}

    </form>
</div>