<div class="columns title-columns has-spacing-vertical">
    <div class="column"></div>
    <div class="column is-half is-fixed">

        <div class="has-text-centered">
            <form action="//facebook.us9.list-manage.com/subscribe/post-json?u=a70281e2cd8892265f8028139&amp;id=909bf03ce6&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                <div class="field main-email">
                    <p class="control has-icons-left">
                        <input class="input  required email" type="email" placeholder="Your email here *" name="EMAIL" id="mce-EMAIL">
                        <span class="icon  is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </p>
                </div>

                <div class="help" role="alert" id="mce-error-response" style="display:none"></div>

                <div role="alert" class="box media" id="mce-success-response" style="display:none">
                    <div class="media-left">
                        <img class="" width="75" height="75" src="/vlad.png">
                    </div>
                    <div class="media-content">
                        <p>Thanks for joining us! You'll receive an email shortly &mdash; please click the link inside to confirm. </p>
                        <p>You'll get the newsletter on Mondays. Until then, <a href="https://twitter.com/fightwithcards">stay in touch on Twitter!</a></p>
                    </div>
                </div>


                {{ if .Get "gwent" }}
                <input style="display: none" type="checkbox" value="2" name="group[27193][2]" checked="checked">
                {{ end }}

                {{ if .Get "games" }}
                <div class="has-spacing-vertical">
                    <div class="field is-horizontal">
                        <div class="field-label ">
                            <label class="label">I want:</label>
                        </div>
                        <div class="field-body  is-centered">
                            <div class="field is-narrow">
                                <div class="control checkbox">
                                    <input type="checkbox" value="1" name="group[27193][1]" id="mce-group[27193]-27193-0">
                                    <label for="mce-group[27193]-27193-0">Hearthstone</label>
                                </div>
                            </div>

                            <div class="field is-narrow">
                                <div class="control checkbox">
                                    <input type="checkbox" value="2" name="group[27193][2]" id="mce-group[27193]-27193-1">
                                    <label for="mce-group[27193]-27193-1">Gwent</label>
                                </div>
                            </div>

                            <div class="field is-narrow">
                                <div class="control checkbox">
                                    <input type="checkbox" value="16" name="group[27193][16]" id="mce-group[27193]-27193-4">
                                    <label for="mce-group[27193]-27193-4">Shadowverse</label>
                                </div>
                            </div>

                            <div class="field is-narrow">
                                <div class="control checkbox">
                                    <input type="checkbox" value="8" name="group[27193][8]" id="mce-group[27193]-27193-3">
                                    <label for="mce-group[27193]-27193-3">Eternal</label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="field is-horizontal">
                    <div class="field-body  is-centered">

                        <div class="field is-narrow">
                            <div class="control checkbox">
                                <input type="checkbox" value="4" name="group[27193][4]" id="mce-group[27193]-27193-2">
                                <label for="mce-group[27193]-27193-2">Elder Scrolls Legends</label>
                            </div>
                        </div>

                        <div class="field is-narrow">
                            <div class="control checkbox">
                                <input type="checkbox" value="32" name="group[27193][32]" id="mce-group[27193]-27193-5">
                                <label for="mce-group[27193]-27193-5">Faeria</label>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
                {{ end }}

                <div class="has-spacing-bottom">
                    <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button is-warning">JOIN!</button>
                </div>

                <p class="small text-dim has-text-centered">* Receive emails every week, no spam, easy to unsubscribe.<br/>You can always change your selected games</p>


                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a70281e2cd8892265f8028139_909bf03ce6" tabindex="-1" value=""></div>
            </form>
        </div>

    </div>
    <div class="column"></div>
</div>


